@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	font-family:
		ui-sans-serif,
		-apple-system,
		system-ui,
		Segoe UI,
		Helvetica,
		Apple Color Emoji,
		Arial,
		sans-serif,
		Segoe UI Emoji,
		Segoe UI Symbol;
}

* {
	/* outline: black 0.1px solid !important; */
}
